.main {
  border: 2px solid white;
  display: flex;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.img {
  border: 20px;
  height: 400px;
  width: 400px;
  background-color: white;
}

.input {
  width: auto;
  height: 30px;
}

.button {
  width: 30px;
  height: 40px;
  border-radius: 20px;
}

.button2 {
  text-decoration: none;
  font-size: 30px;

  box-shadow: 5px 5px 15px -6px #ffffff;
  width: 190px;
  height: 60px;
  border-radius: 30px;
  background-color: #c9a30f;
  color: white;
  border: none;
}

.button2:hover {
  transform: scale(1.08);
}
