.h1 {
  font-size: 55px;
  font-weight: 600;
  color: white;
}
// auto auto auto
.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: (auto auto 30rem);
  text-align: center;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
  // justify-content: center;
  gap: 45px;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  margin-top: 2.875rem;
}
.productDiv {
  border: 2px solid rgb(8, 0, 255);
  width: 25rem;
  border-radius: 20px;
  box-shadow: black 0 0 5px;
  background-color: #ddd;

  a:hover {
    color: #c0a107;
    &:before {
      transform: scaleY(1);
      opacity: 1;
    }
    &:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .link {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 30px;
  }

  .link2 {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }

  .img {
    border: 20px;
    height: 18.75rem;
    width: 18.75rem;
    background-color: white;
    transition: all 0.3s;
  }
  img:hover {
    transform: scale(1.08);
  }

  button {
    text-decoration: none;
    font-size: 30px;
    box-shadow: 12px 5px 15px -6px #09152e;
    width: 11.875rem;
    height: 60px;
    border-radius: 30px;
    background-color: #c9a30f;
    color: white;
    border: none;
    margin-bottom: 20px;
  }

  button:hover {
    transform: scale(1.08);
  }
}
